nav {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.what, .new {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li:nth-child(2) {
    float: right;
    margin-right: 20px;
    padding-right: 10px;
}

nav a:hover {
    cursor: pointer;
}
